@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors */
  --white-color: #fff;
  --dark-color: #0f141a;
  --secondary-color: rgba(254, 189, 105, 1);

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border Raduis */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}
body {
  font-family: Roboto, Arial;
}

.amazon-header {
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-size: var(--font-size-xl);
}
.amazon-header-left-section {
  justify-content: start;
  width: 180px;
  
}
.amazon-header-left-section .amazon-logo-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--dark-color);
}
.amazon-header-left-section .amazon-logo-link .amazon-logo-img {
  width: 100px;
  margin-top: 5px;
}

@media (max-width: 800px) {
  .amazon-header-left-section {
    width: unset;
  }
}
.amazon-header-middle-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 850px;
  margin-right: 10px;
  flex: 1;
  font-size: var(--font-size-m);
}
.amazon-header-middle-section .search-button {
  border: none;
  width: 60px;
  height: 62px;
  background-color: var(--secondary-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.amazon-header-middle-section .search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height:60px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.amazon-header-middle-section .search-button .search-icon {
  width: 15px;
  height: 15px;
}

.amazon-header-right-section {
  display: flex ;
  align-items: center;
  justify-content: end;
  width: 180px;
  margin: 0;
  gap: 20px;
  /* flex: 1; */
  color: var(--white-color);

}
.amazon-header-right-section .orders-link{
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: start;
  color: var(--white-color);
  text-decoration: none;
  padding: 5px;

}
.amazon-header-right-section .orders-link:hover{
  border: 2px solid var(--white-color);
}
.amazon-header-right-section .orders-link .returns-text{
  font-size: var(--font-size-s);
}
.amazon-header-right-section .orders-link .orders-text{
  font-size: var(--font-size-s);
  font-weight: bold;
}
.amazon-header-right-section .cart-link{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--white-color);
  font-size: var(--font-size-m);
  text-decoration: none;
  padding: 5px;
  gap: 2px;
}
.amazon-header-right-section .cart-link:hover{
  border: 2px solid var(--white-color) ;
}
.amazon-header-right-section .cart-link .cart-link-quantity{
  display:flex;
  flex-direction: column;
  /* border: 2px solid green ; */
  position: relative;
}
.amazon-header-right-section .cart-link .cart-link-quantity .cart-quantity{
  color: var(--secondary-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  position: absolute;
  top: 1px ;
  left: 15px;
  width: 26px;
  text-align: center;
  /* border: 2px solid blue; */
}
.amazon-header-right-section .cart-link .cart-link-quantity .cart-icon{
  width: 50px;
}
.amazon-header-right-section .cart-link  .cart-text{
  padding-top: 20px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s) ;
}



