@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors */
  --white-color: #fff;
  --dark-color: #0f141a;
  --secondary-color: rgba(254, 189, 105, 1);

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border Raduis */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}
.main {
  padding: 20px;
  display: flex;
  align-items: center;
}
.main .main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap:10px;
  justify-content: center;
  width: 100%;
  max-width: var(--site-max-width);
}

.main .main-content .product {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:0;
  justify-content: start;
  border: 1px solid gray;
  width: 100%;
  max-width: 400px;
}
/* Add hover effect on product card*/
.main .main-content .product:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
.main .main-content .product .product-img {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.main .main-content .product .product-img img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}
.main .main-content .product .product-description {
  font-size: var(--font-size-n);
  color: #333;
  text-align: center;
  margin: 5px 0 10px 0;
  min-height: 40px;
  padding: 0 10px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main .main-content .product .product-rating {
  direction: rtl; /* Right to left for easier selection */
  unicode-bidi: bidi-override;
  font-size: 1.4rem;
  display: inline-flex;
}

.main .main-content .product .product-rating input {
  display: none;
}

.main .main-content .product .product-rating label {
  color: lightgray;
  cursor: pointer;
  transition: color 0.2s;
}

.main .main-content .product .product-rating input:checked ~ label,
.main .main-content .product .product-rating label:hover,
.main .main-content .product .product-rating label:hover ~ label {
  color: gold;
}

.main .main-content .product .product-price {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-l);
  color: var(--dark-color);
  margin-bottom: 10px;
}
.main .main-content .product .product-quantity {
  margin-bottom: 15px;
}
.main .main-content .product .product-quantity select {
  padding: 4px;
  font-size: var(--font-size-s);
  text-align: center;
  border: 1px solid lightgray;
  background-color: rgb(246, 246, 246);
  border-radius: var(--border-radius-s);
}
.main .main-content .product .add-to-cart {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.main .main-content .product .add-to-cart button {
   width: 200px;
  padding: 6px 0;
  height: 36px;
  font-size: 0.9rem;
  font-weight: var(--font-weight-medium);
  background-color: #ffd814;
  border: 1px solid #fcd200;
  border-radius: var(--border-radius-s);
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  cursor: pointer;
  transition: #ffd814 0.2s ease;
}
.main .main-content .product .add-to-cart button:hover {
  background-color: rgb(247, 202, 0);
  border: 1px solid rgb(242, 194, 0);
}

/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 2000px or less, we
   will divide the grid into 7 columns instead of 8. */
@media (max-width: 768px) {
  .main .main-content {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .main .main-content .product {
    max-width: 100%;
  }
}
